
:root {
    --base: #fec104;
    --base-oscuro: #f9a800;
    --base-claro: #f5d03a;
    --naranja: #ff6f00;
    --blanco: #ffffff;
    --negro: #333333;
}

html,body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
}

a:hover{text-decoration: underline;}
input:focus{outline: none;}

.login, .registro, .contraseñaRecuperacion, .cambioContraseña{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100dvh;
    align-items: center;
    background: linear-gradient(70deg, var(--base-claro),var(--base),var(--base-oscuro));
}

.session-header{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
}

.session-header img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-left: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border: 2px solid #f9f9f9;
}

.session-form{
    display: flex;
    flex-direction: column;
    padding: 18px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 400px;
}

.session-form h2{margin-bottom: 20px;}

.session-form label{
    font-size: 18px;
    margin-bottom: 5px;
    text-align: left;
}

.session-form input[type="email"],
.session-form input[type="password"],
.session-form input[type="text"]{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.session-form input[type="submit"]{
    background-color: #007bff;
    color: white;
    border: none;
    margin: 0 auto 15px auto;
    padding: 7px 10px ;
    border-radius: 5px;
    cursor: pointer;
}

.session-form input[type="submit"]:hover{
    background-color: #0056b3;
}

.session-form a{
    color: #007bff;
    text-decoration: none;
    margin: 6px 0;
}

.session-form ol {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.session-form ol li {
    margin-bottom: 5px;
    width: 100%;
}

.session-footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    gap: 5px;
}

.social{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

.social img{
    width: 30px;
    height: 30px;
    margin: 0 10px;
}

.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    background-color: var(--base);
}
.header h1{
    margin: 0;
    font-size: 55px;
    font-stretch: extra-expanded;
    text-shadow: 0px 0px 5px rgb(0, 0, 0);
    color: var(--blanco);
}

.header img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border: 2px solid #f9f9f9;
}

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 10px;
    background-color: var(--base-oscuro);
    position: sticky;
    top: 0;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    z-index: 10;
}

.navbar button{
    background: none;
    width: fit-content;
    border: none;
}

.navbar img{
    width: 30px;
    height: 30px;
    margin: 0 10px;
}

.user{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
}

.user img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #f9f9f9;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.links{
    display: flex;
    flex-direction: row;
    width: auto;
    padding: 10px;
    gap: 10px;
    align-items: center;
}

.links a{
    color: var(--negro);
    text-decoration: none;
    font-size: 18px;
    padding: 0;
    margin: 0;
    border: 1px solid ;
    padding: 5px 10px;
    border-radius: 20px;
    transition: background-color 0.3s cubic-bezier(0, 0, 0.45, 1);
}

.links a:hover{
    background-color: white;
}

.buscador input{
    border: none;
    border-radius: 10px;
}
.buscador img {
    width: 30px;
    height: 30px;
    margin: 0;
    height: fit-content;
}

.links img{
    width: 30px;
    height: 30px;
    margin: 0;
    height: fit-content;
}


.footer{
    display: flex; 
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    align-items: center;
    margin-top: 20px;
    gap: 5px;
}

.vistas{min-height: 54dvh;}

.sin-productos {
  text-align: center;
  margin: 20px 0;
}

.sin-productos img{
  width: 300px;
  margin: 20px 0;
  border-radius: 15px;
  border: 2px solid;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.sin-productos h2{
    font-variant: small-caps;
}


.grupo {
    margin-top: 40px;
}

.slider-wrapper {
    position: relative;
    overflow: hidden;
    padding: 0 60px; /* espacio para botones */
}
  
.slider-container {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
}
  
.slider-container::-webkit-scrollbar {
    display: none;
}
  
.botonL, .botonR {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    background-color: var(--base);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
}
  
.botonL { left: 10px; }
.botonR { right: 10px; }

.carta {
    min-width: 200px;
    flex: 0 0 auto;
    background: white;
    border-radius: 15px;
    text-align: center;
    padding: 10px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.carta h4 {
    font-size: 20px;
    margin: 10px 0;
}

.carta img {
    object-fit: cover;
    width: 300px;
    height: 200px;
    border-radius: 5px;
}

.dashboard-container {
    display: flex;
    min-height: 100dvh;
    min-width: 100vh;
    font-family: Arial, sans-serif;
}

.sidebar {
    background-color: var(--base);
    width: 220px;
    min-height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px;
}

.sidebar h2 {
    margin-bottom: 20px;
}

.sidebar a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.sidebar a:hover {
    text-decoration: none;
}

.sidebar summary{
    font-weight: bold;
    list-style: none;
    cursor: pointer;
    position: relative;
    padding-right: 1.5em;
}

.sidebar summary::-webkit-details-marker {
  display: none;
}

.sidebar summary::after {
  content: "▶"; /* o "▼" si está abierto */
  position: absolute;
  right: 0;
  top: 0;
  font-size: 0.9em;
  transform: translateY(10%);
  transition: transform 0.3s;
}
.sidebar details[open] summary::after {
  transform: translateY(10%) rotate(90deg);
}

.sidebar details a {
    display: flex;
    flex-direction: row;
    margin-top: 5px;
    margin-left: 10px;
}


.sidebar details a::before{
    content: "•";
    margin-right: 5px;
}

.main-content {
    flex: 1;
    padding: 40px;
    background-color: #f9f9f9;
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.card {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 8px rgba(0,0,0,0.1);
}

.card h3 {
    margin-top: 0;
    color: var(--base);
}

.dashboard-grupo{
    border: 1px solid #ccc;
    padding: 10px; 
    margin-bottom: 10px; 
    border-radius: 5px; 
    display: grid; 
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.dashboard-grupo div{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.grupo-acciones{
    justify-content: flex-end;
}

.grupo-acciones button,.grupo-acciones a{
    background: none;
    border: none;
    cursor: pointer;
    text-decoration: none;
    color: var(--base-oscuro);
    font-size: 18px;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    border: 1px solid;
}


.grupo-acciones button:hover,.grupo-acciones a:hover{
    text-decoration: none;
    background-color: var(--base-oscuro);
    color: var(--blanco);
    border: 1px solid var(--base-oscuro);
}

.dashboard-form {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.dashboard-form label {
    margin: 0;
    color: var(--base-oscuro);
    display: block;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
}

.dashboard-form input{
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.dashboard-form textarea{
    box-sizing: border-box;
    resize: none;
    width: 100%;
    min-height: 60px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.dashboard-form textarea:focus{outline: none;}

.dashboard-form select{
    background-color: transparent;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.checkbox-container {  
    display: flex;  
    align-items: center;
    justify-content: center;  
    gap: 10px;   
    margin-bottom: 10px;
}  

.checkbox-container label {  
    font-size: 16px;  
    font-weight: bold;  
    color: var(--base-oscuro); 
    margin: 0;
}  

.checkbox-container input[type="checkbox"] {  
    width: 20px;  
    height: 20px;  
    accent-color: var(--base);
    transition: transform 0.2s ease, box-shadow 0.2s ease;  
}  

.checkbox-container input[type="checkbox"]:checked {  
    transform: scale(1.2); 
}  

.dashboard-form input[type="submit"]{
    background: none;
    border: none;
    cursor: pointer;
    text-decoration: none;
    color: var(--base-oscuro);
    font-size: 18px;
    padding: 5px 10px;
    margin: 0;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    border: 1px solid;
    width: fit-content;
}

.dashboard-form input[type="submit"]:hover{
    text-decoration: none;
    background-color: var(--base-oscuro);
    color: var(--blanco);
    border: 1px solid var(--base-oscuro);
}

.dashboard-form a{
    display: flex;
    flex-direction: column;
    width: fit-content;
    color: var(--base-oscuro);
    text-decoration: none;
    font-size: 14px;
    padding: 5px 10px;
    transition: background-color 0.3s, color 0.3s;
}

.dashboard-form a::after{
    content: "";
    display: block;
    width: 0%;
    height: 1px;
    background-color: var(--base-oscuro);
    margin: 2px 0;
    opacity: 0.5;
}

.dashboard-form a:hover::after{
    width: 100%;
    transition: width 0.3s;
}

.dashboard-form a:hover{
    text-decoration: none;
}

.productss{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.product-card{
    display: flex;
    flex-direction: column;
    background: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;

}

.product-card p{
    margin: 5px 0; 
    font-size: 16px;
}

.product-card a, .btn-eliminar{
    margin: 5px 0;
    background: none;
    border: none;
    cursor: pointer;
    text-decoration: none;
    color: var(--base-oscuro);
    font-size: 18px;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    border: 1px solid;
    width: fit-content;
}

.product-card a:hover, .btn-eliminar:hover{
    text-decoration: none;
    background-color: var(--base-oscuro);
    color: var(--blanco);
    border: 1px solid var(--base-oscuro);
}

.btn-on {  
    background: #00d54f;
    height: 20px;
    width: 30px;
    border-radius: 50px;
    border: none;
    position: relative;
    cursor: pointer;
}  

.btn-on::before {  
    content: "";  
    position: absolute;  
    top: 2px;  
    left: 2px;  
    width: 16px;  
    height: 16px;  
    background: white;  
    border-radius: 50%;  
    transition: all 0.3s ease;  
}

.btn-off {  
    background: #9b9b9b;
    height: 20px;
    width: 30px;
    border-radius: 50px;
    border: none;
    position: relative;
    cursor: pointer;
}
.btn-off::after {  
    content: "";  
    position: absolute;  
    top: 2px;  
    right: 2px;  
    width: 16px;  
    height: 16px;  
    background: white;  
    border-radius: 50%;  
    transition: all 0.3s ease;   
}