<h1>Nuevo grupo</h1>

<%= form_with model: [:dashboard, @grupo], local: true, html: { class: "dashboard-form" } do |f| %>
  <div>
    <%= f.label :nombre %>
    <%= f.text_field :nombre %>
  </div>
  <div>
    <%= f.submit "Crear grupo" %>
  </div>
<% end %>