header h1 {
    color: white;
    border: 1px solid black;
    background-color: yellow;
    height: 100px;
    width: 2000px;
    text-align: center;
    
    .img-logo{
        height: 100px;
        width: 200px;
    }

}
nav {
    border:1px solid black;
    height: x;
    width: 300px;
}

section {
    .salchipapa{
        border: 1px solid black;
        height: auto;
        width: 400px;

        .img-salchipapa{
            height: 100px;
            width: 200px;
        }

        .img-salchipapa2{
            height: 100px;
            width: 200px;
        }

        
    }

    .hamburguesa{
        border: 1px solid black;
        height: auto;
        width: 400px;

        .img-hamburguesas{
            height: 100px;
            width: 200px;
        }
        .img-hamburguesa2{
            height: auto;
            width: 200px;
        }
    }

    .pizzas{
        border: 1px solid black;
        height: auto;
        width: 400px;

        .img-pizza{
            height: 100px;
            width: 200px;
        }
        .img-pizza2{
            height: auto;
            width: 400px;
        }
    }
}